<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="color: aliceblue; background-color:rgb(126, 58, 182);">
    <center>
    <div class="navbar" style="color:black; background-color:powderblue">
        <h1><b>Navbar Working</b></h1>
        <a href="/api/users">Users</a>
        <a href="/api/productspage">Products</a>
        <a href="/api/profile">Profile</a>
        <a href="/api/changepassword">Change Password</a>
        <a href="/api/logout"><b>Logout</b></a>
    </div>
    <h1>
        <b>Hello, This is the Home Page</b>
    </h1>
    </center>
</body>
</html>